.van-dialog {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 85%;
    overflow: hidden;
    font-size: 0.32rem;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}
.van-dialog__header {
    padding-top: 0.48rem;
    font-weight: 500;
    /* line-height: 24px; */
    text-align: center;
}
.van-dialog__message--has-title{
    padding-top: 0.12rem;
}
.van-dialog__message {
    max-height: 60vh;
    padding: 0.48rem;
    overflow-y: auto;
    font-size: 0.28rem;
    line-height: 0.4rem;
    white-space: pre-wrap;
    text-align: center;
    -webkit-overflow-scrolling: touch;
}
.van-button--large{
    width: 100%;
    height: 1rem;
    line-height: 0.96rem;
}
.van-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 0.88rem;
    margin: 0;
    padding: 0;
    font-size: 0.32rem;
    line-height: 0.84rem;
    text-align: center;
    border-radius: 2px;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
}
.van-picker__toolbar {
    height: 0.88rem;
    line-height: 0.88rem;
}
.van-picker__cancel, .van-picker__confirm {
    padding: 0 0.32rem;
    color: #1989fa;
    font-size: 0.28rem;
}
.van-picker__columns{height: 0.88rem;}
.van-picker-column {
    font-size: 0.32rem;
    text-align: center;
}
.van-picker-column__wrapper{
    line-height: 0.88rem;
}


.van-pull-refresh__head {
    top: -0.5rem;
    left: 0;
    width: 100%;
    height: 0.5rem;
    font-size: 0.28rem!important;
    line-height: 0.5rem;
    text-align: center;
}

.van-list__error-text, .van-list__finished-text, .van-list__loading {
    color: #969799;
    font-size: 0.28rem!important;
    line-height: 0.5rem;
    text-align: center;
}


.van-toast--text .van-toast__text {
    min-width: 0.96rem;
    min-height: unset;
    font-size: 0.28rem!important;
    padding: 0.08rem 0.12rem;
}
.van-toast--bottom {
    top: auto;
    bottom: 1rem;
}